@model Meeting

<h1>Subject: @Model.ShortDescription</h1>

<p>Customer: @Model.Customer.FirstName @Model.Customer.LastName</p>
<p>Employee: @Model.Employee.FirstName @Model.Employee.LastName</p>

<p>Request created: @Model.RequestCreatedDate</p>

@if(Model.MeetingDate != null) {
<p>Meeting date: @Model.MeetingDate</p>
}
<h3>Description:</h3>
<p>@Model.Text</p>

    <form action="/Meeting/DeleteMeeting/@Model.Id" method="post">
	<button id="delete-button"> Delete meeting</button>
    </form>
