@using BankingSystemMVC.ViewModels
@model RoleManagementViewModel

 <html>
  <head>
    <link href="~/lib/multi-select/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div>
        <div hidden id="userId">@Model.userId</div>

        <select multiple="multiple" id="my-select" name="my-select[]">
      
      
    @foreach (var role in Model.unassignedRoles)
    {
        <option value="@role.Id">@role.Name</option>
    }
    @foreach (var role in Model.assignedRoles)
    {
        @if(role.Name == "admin") {
                <option value="@role.Id" selected disabled='disabled'>@role.Name</option>
        }
        else {
                <option value="@role.Id" selected>@role.Name</option>
        }
    }
    </select>
    <button id="saveRoles" class="btn btn-primary">Submit</button>
    </div>
    <script src="~/lib/multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="~/my-js/UserRoles.js" type="text/javascript"></script>
</body>
</html>